<section>   
    <div class="container-fluid py-4  ">
        <div class="row ">
            <div class="col-md-11 mx-3 ">
                <div class="edulines">
                    <h4>المسارات التدريبية</h4>
                    <p>يمكنك أن تجد مسارك المناسب وتبدأ به الآن.</p>
                </div>
            </div>
        </div>
    </div>  

    <div class="container-fluid  traniningLine ">

        <div class="row  d-flex px-4 py-5 rightCircle ">
            <div class="semi-circle-right"></div>
            <div class="col-md-8 my-2 py-3   ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>1</p>
                            </div>
                        </div>
                        <h1 class="mx-2">السياحة</h1>
                        <p class="mx-2 ">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-4 py-5 leftCircle">
            <div class="semi-circle-left"></div>
            <div class="col-md-8 my-2 py-3 ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>2</p>
                            </div>
                        </div>
                        <h1 class="mx-2">الضيافة</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-4 py-5 rightCircle ">
            <div class="semi-circle-right"></div>
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>3</p>
                            </div>
                        </div>
                        <h1 class="mx-2">التعليم</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-4 py-5 leftCircle">
            <div class="semi-circle-left"></div>

            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>4</p>
                            </div>
                        </div>
                        <h1 class="mx-2">الصحة والسلامة المهنية</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-4 py-5 rightCircle ">
            <div class="semi-circle-right"></div>
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>5</p>
                            </div>
                        </div>
                        <h1 class="mx-2">الأمن والحراسات الأمنية</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-4 py-5 leftCircle    ">
            <div class="semi-circle-left"></div>
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <div class="textContainer">
                                <p>6</p>
                            </div>
                        </div>
                        <h1 class="mx-2">البرامج العامة</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>