
<header>
    <div class="container-fluid  x py-5 ">
        <div class="row">
            <div class="col-md-8 py-5 ">
                <div class="contentSpecial">
                    <h5>تريد أخذ مسار جديد في حياتك المهنية</h5>
                    <h1><span class="remark">استعد</span> للتميز : قم بتطوير نفسك من خلال  <span class="remark">التعلم !</span></h1>
                    <p>استعد للتميز :قم بتطوير نفسك من حلال التعلم!استعد للتميز قم بتطوير نفسك من خلال التعلم! </p>
                    <div class="contact">
                        <p>تواصل معنا</p>
                        <div class="contactUs">
                            <div><i class="pi pi-facebook"></i></div>
                            <div><i class="pi pi-instagram"></i></div>
                            <div><i class="pi pi-youtube"></i></div>
                            <div><i class="pi pi-twitter"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="cover">
                    <div>
                        <img src="/assets/images/thinking.png" class="img-fluid" alt="استعد للتميز">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="12">
                <div class="we">
                    <h1>معهد القافلة العالمية للتدريب</h1>
                    <div class="underline "></div>
                    <p>تأسس معهد القافلة العالمية للتدريب رائده في مجال التطوير التعليم في <span class="remark">المملكه العربيه السعودية</span>,ويعتبر المعهد جزءا من مجموعه <span class="remark">-------</span>,والتي تتمتع بحبره وامكانيات عالية وتنوع استثماراتها.تأسس معهد القافلة العالمية للتدريبرائده في مجال التطوير التعليم في <span class="remark">المملكه العربيه السعودية</span>,ويعتبر المعهد جزءا من مجموعه <span class="remark">-------</span>,والتي تتمتع بحبره وامكانيات عالية وتنوع استثماراتها.</p>
                </div>
            </div>
        </div>
    </div>
</article>

<section class="future py-5">
    <div class="container-fluid">
        <div class="row position-relative">
            <div class="side"> 
                <div class="inside"></div>
            </div>
            
            <div class="col-md-12 text-center py-3">
                <h4 class="tittle">الرؤية والرسالة</h4>
            </div>
            <div class="col-md-6">
                <div class="vesionMessage">
                    <h5 class="py-2">الرؤية</h5>
                    <p>هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء أهم.</p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="vesionMessage">
                    <h5 class="py-2">الرسالة</h5>
                    <p>هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء أهم.</p>
                </div>
            </div>
            <div class=" col-md-12 py-5  text-center">
                <div class="goals py-3">
                    <h4 class="py-3">أهدافنا</h4>
                    <h3>نسعي دائما لجعل الشباب مؤهل للسوق الحالي</h3>    
                    <p>مع الإلتزام بدورنا كمؤسسة تعليمية عالمية</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="communicationandEffectiency">
                        <i class="pi pi-user "></i>
                        <h5 class="my-3">التواصل</h5>
                        <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="communicationandEffectiency">
                        <i class="pi pi-user "></i>
                        <h5 class="my-3">كفاءة المدربين</h5>
                        <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
                <div class="col-md-4 text-center ">
                  <div class="communicationandEffectiency">
                        <i class="pi pi-user "></i>
                        <h5 class="my-3">كفاءة المناهج</h5>
                        <p>ٍسيكون هناك تواصل دائم مع الطلبة لمعرقة مدي التقدم والإستيعاب لتقديم حلول مستقبلية جيدة.</p>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>

<section>   
    <div class="container-fluid py-  ">
        <div class="row ">
            <div class="col-md-11 mx-3 ">
                <div class="edulines">
                    <h4>المسارات التدريبية</h4>
                    <p>يمكنك أن تجد مسارك المناسب وتبدأ به الآن.</p>
                </div>
            </div>
        </div>
    </div>  

    <div class="container-fluid  traniningLine ">

        <div class="row  d-flex px-4 py-5 rightCircle ">
            <div class="col-md-8 my-2 py-3   ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer  ">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">السياحة</h1>
                        <p class="mx-2 ">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-2 py-5 leftCircle">
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">الضيافة</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-2 py-5 rightCircle rightCircle3">
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">التعليم</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-2 py-5 leftCircle">
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">الصحة والسلامة المهنية</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-2 py-5 rightCircle ">
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">الأمن والحراسات الأمنية</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  d-flex px-2 py-5 leftCircle    ">
            <div class="col-md-8 my-2 py-3  ">
                <div class="line1 ">
                    <div class="lineContent  ">
                        <div class="imageContainer">
                            <img src="/assets/images/Frame 1000005065 (2).png" alt="السياحه" class="img-fluid rounded-circle" >
                        </div>
                        <h1 class="mx-2">البرامج العامة</h1>
                        <p class="mx-2">هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء لصفحة  ما سبلهي.هناك حقيقة مثبته منذ ذمن طويل وهي أن المحتوي المقروء...</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


