header
{
    background-image: url('/assets/images/Vector\ \(1\).png');
    background-size: 100% 100%;
    padding-top: 60px;
}
.x
{
    padding-left: 6% ;
    padding-right: 6%;
}
.contentSpecial
{
    margin-top: 11%;
}
.contentSpecial h5
{
    color: #3F64AB;
    font-weight: 600;
    font-size: 20px ;
    position: relative;
}
.contentSpecial h5::after
{
    content:" ";
    background-color: #3F64AB;
    width: 43px;
    height: 1px;
    position: absolute;
    top: 13px;
    right: 320px;
}
.contentSpecial h1
{
    font-weight: 700;
    font-size: 48px ;
    width: 85%;
    padding-top: 6px;
    line-height: 69.6px;
}
.contentSpecial p
{
    font-weight: 400;
    font-size: 24px ;
    width: 80%;
    padding-top: 28px ;
    line-height: 38.4px

}
.remark
{
    color: #3F64AB;
}
.contact
{
    width: 176px;
    margin-top: 99px;
}
.contact p
{
    font-weight: 400;
    font-size: 16px ;
    color: #33312C;
    margin-bottom: 9px;
    padding: 0;
}
.contactUs
{
    display: flex;
}
.contactUs div
{
    width: 25%;
}
.contactUs i
{
    font-size: 22px;
    width: 21.06px;
    height: 21.06px;
    color: #33312C;
    border-radius: 50%;
}
.cover
{
    border: 2px solid #3F64AB;
    border-radius: 8px ;
    width: 395px !important;
    height: 593px !important;
}
.cover div
{
    position: relative;
    top: 15px;
    right: 15px;
}
.cover div img
{
    border-radius: 8px;
}
 .container-fluid
{
    padding-left: 4.9%;
    padding-right: 4.9%;
}
article .container-fluid .col-md-12
{
    padding: 0;
}
article .we
{

}
article .we h1
{
    font-weight: 600;
    font-size: 44px;
}
article .we .underline
{
    content: " ";
    width: 136px;
    height: 3px;
    background-color: #3F64AB;
    margin-top: 14px;
    margin-bottom: 40px;
}
article .we p
{
    font-weight: 400;
    font-size: 24px;
}
.future
{
    background-color: #F8F9F9;
}
.future .tittle
{
    color: #3F64AB;
    font-weight:600 ;
    font-size: 32px;
    padding-bottom: 30px;
}
.future .vesionMessage
{
    background-color: #e9e8e8;
    padding: 15px;
    border-radius: 8px;
}
.future .vesionMessage h5
{
    color: #33312C;
    font-weight:700 ;
    font-size: 24px;
}
.future .vesionMessage p
{
    color: #33312C;
    font-weight:400 ;
    font-size: 20px;
    line-height: 26.4px;
}
.future .goals h4
{
    color: #3F64AB;
    font-weight:600 ;
    font-size: 32px;
    line-height: 18.54px;
}

.future .goals h3
{
    font-weight:700 ;
    font-size: 36.62px;
    line-height: 60.42px;
}
.future .goals p
{
    font-weight:400 ;
    font-size: 36.62px;
}
.future .communicationandEffectiency
{
    padding: 10px;
    text-align: center;
}

.future .communicationandEffectiency i
{
    background-color: #a6c8f1;
    padding-top: 10px;
    font-size: 40px;
    border-radius: 8px;
    width: 64px;
    height: 64px;
    color: #3F64AB;

}

.future .communicationandEffectiency h5
{
    font-weight:600 ;
    font-size: 24px;
    line-height: 26.4px;
    padding-top: 5px;
    padding: bottom 5px; ;
}
.future .communicationandEffectiency p
{
    font-weight:500 ;
    font-size: 16px;
    line-height: 26.4px;
}
.side
{
    content: " ";
    background-color: #3F64AB;
    border: 20px;
    position: absolute;
    width: 567px;
    height:252px;
    top: 30% ;
    right: -32.5%;
    border-radius: 120px;
    padding: 55px;
    opacity: 30%;
    transform: rotate(-90deg);
}
.inside
{
    content: " ";
    background-color: white;
    position: absolute;
    border: 20px;
    width: 460px;
    height: 150px;
    bottom: 0px ;
    right: 50%;
    border-radius: 80px;
    padding: 20px;
}
.edulines h4
{
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3F64AB;
}
.edulines p
{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.rightCircle
{
    border-radius: 200px;
    justify-content: center;
    border-bottom: none;
    border-left: none;
    border-top: none;
    position: relative;
}
.leftCircle
{
    border-radius: 200px;
    justify-content: center;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.rightCircle .col-md-8
{
    position: relative;
    box-sizing: border-box;
}
.leftCircle .col-md-8
{
    position: relative;
    box-sizing: border-box;
}
.rightCircle .line1
{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.leftCircle .line1
{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.rightCircle .line1::after
{
    content: "";
    position: absolute;
    width: 0;
    height: 2%;
    border-top: 131px solid transparent;
    border-bottom: 131px solid transparent;
    border-right:131px solid #AC7FB9;
    top: -4px;
    left: -220px;
    opacity: 10%;
}
.rightCircle3 .line1::after
{
    border-right:131px solid #12C584  ;
}
.leftCircle  .line1::after
{
    content: "";
    position: absolute;
    width: 0;
    height: 2%;
    border-top: 131px solid transparent;
    border-bottom: 131px solid transparent;
    border-left:131px solid #AC7FB9;
    top: -4px;
    right: -220px;
    opacity: 10%;
}
.rightCircle .line1::before
{
    content: "";
    position: absolute;
    width: 40;
    height: 29%;
    border-top: 131px solid transparent;
    border-bottom: 131px solid transparent;
    border-right:131px solid  white;
    top: -4px;
    left: -155px;
    z-index: 999;
}

.leftCircle  .line1::before
{
    content: "";
    position: absolute;
    width: 40;
    height: 29%;
    border-top: 131px solid transparent;
    border-bottom: 131px solid transparent;
    border-left:131px solid  white;
    top: -4px;
    right: -155px;
    z-index: 999;
}
.rightCircle .line1 img
{
    width: 302px;
    height: 302px;
}
.leftCircle .line1 img
{
    width: 302px;
    height: 302px;
}

.rightCircle .line1 .lineContent
{
    position: relative;
    padding-bottom: 10px; ;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 100px;
    border: 4px solid #AC7FB9    ;
    border-left: none;
}
.rightCircle3 .line1 .lineContent
{
    border: 4px solid #12C584 !important    ;
}
.leftCircle .line1 .lineContent
{
    position: relative;
    padding-bottom: 10px; ;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 80px;
    border: 4px solid #D09F0C;
    border-right: none;
}
.rightCircle .lineContent::after
{
    content: "";
    position: absolute;
    width: 40;
    height: 29%;
    border-top: 130px solid white;
    border-bottom: 131px solid white;
    border-right:130px solid #AC7FB9;
    top: -4px;
    left: -60px;
    z-index: 9999;
}
.rightCircle3 .lineContent::after
{
    border-right:130px solid #AC7FB9 !important;
}
.leftCircle .lineContent::after
{
    content: "";
    position: absolute;
    width: 40;
    height: 29%;
    border-top: 130px solid white;
    border-bottom: 131px solid white;
    border-left:130px solid #D09F0C
    ;
    top: -4px;
    right: -60px;
    z-index: 9999;
}
.rightCircle .lineContent::before
{
    content: "";
    position: absolute;
    width: 40px;
    height: 29%;
    border-top: 125px solid transparent;
    border-bottom: 126px solid transparent;
    border-right:125px solid  white ;
    top: 1px;
    left: -55px;
    z-index: 99999;
}
.leftCircle .lineContent::before
{
    content: "";
    position: absolute;
    width: 40px;
    height: 29%;
    border-top: 125px solid transparent;
    border-bottom: 126px solid transparent;
    border-left:125px solid  white ;
    top: 1px;
    right: -55px;
    z-index: 99999;
}
.rightCircle .line1 .imageContainer
{
    background-image: url('/assets/images/download.jfif');
    background-size:100% 100%;
    border-radius: 451px;
    width: 302.66px;
    height: 302.66px;
    position: absolute;
    right: -28%;
    top: -9%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.leftCircle .line1 .imageContainer
{
    background-image: url('/assets/images/download.jfif');
    background-size:100% 100%;
    border-radius: 451px;
    width: 302.66px;
    height: 302.66px;
    position: absolute;
    left: -28%;
    top: -9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightCircle .line1 .imageContainer .textContainer
{
    width: 158.11px;
    height: 158.11px;
    background-color: white;
    opacity: 25%;
    border-radius: 451.7px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.leftCircle .line1 .imageContainer .textContainer
{
    width: 158.11px;
    height: 158.11px;
    background-color: white;
    opacity: 25%;
    border-radius: 451.7px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rightCircle .line1 .imageContainer .textContainer p
{
    color: black    ;
    font-size: 81.31px;
    font-weight: 600;
    line-height: 99.38px;
    position: relative;
    z-index: 99999;
}
.leftCircle .line1 .imageContainer .textContainer p
{
    color: black    ;
    font-size: 81.31px;
    font-weight: 600;
    line-height: 99.38px;
    position: relative;
    z-index: 99999;
}

.rightCircle .line1 .lineContent h1
{
    font-size: 54.21px;
    font-weight: 700;
    color: #33312C    ;
    line-height: 99.38px;
}
.leftCircle .line1 .lineContent h1
{
    font-size: 54.21px;
    font-weight: 700;
    color: #33312C    ;
    line-height: 99.38px;
}
.rightCircle .line1 .lineContent p
{
    font-size: 27.1px;
    font-weight: 400;
    color: #6C6C6C    ;
    line-height: 36.59px;
}
.leftCircle .line1 .lineContent p
{
    font-size: 27.1px;
    font-weight: 400;
    color: #6C6C6C    ;
    line-height: 36.59px;
}



.khaled
{
    font-size: 250px;
    background-color: #AC7FB9;
    opacity: 10%;
    border: none;
}
