@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


body
{
  direction: rtl;
  font-family: 'cairo', sans-serif; 
}
ul li {
    list-style: none;
  
  }
  a {
    text-decoration: none;
  }

/* * {
  
  direction: rtl;

}
body {
  font-family: "Cairo";
} */

